//----------------------------------*\
// Fonts
//----------------------------------*/
@import "src/assets/styles/modules/_font.scss";

// primary font
$font-family: 'Ubuntu';
// font-weight
$light:300;
$regular:400;
$medium:500;
$bold:700;
// Font size
$font-xs:12px;
$font-sm: 14px;
$font: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-nav: 30px;
$font-h1: 40px;
