<div class="d-flex flex-column mh-30">
  <blockquote>
    Возвращает true, если все значения в потоке удовлетворяют условию. Например
    если все запросы к серверу имеют успешный статус.
  </blockquote>
  <div [style.min-height.px]="50" class="row">
    <div class="col-12">
      Условие при котором меняется значение clientY < 210. Сейчас значение:
      {{ clientY }}
    </div>
    <div class="col-12">
      <strong>{{ result$ | async }}</strong>
    </div>
  </div>
  <div class="row of-auto scroll">
    <div class="col-6">
      <pre class="scroll">
        {{ js }}
      </pre>
    </div>
    <div class="col-6">
      <pre class="scroll">
        {{ html }}
      </pre>
    </div>
  </div>
</div>
