<app-content [html]="html" [js]="js">
  <span description>
    Когда observables завершены возвращает последнее значение каждого.
  </span>

  <div example class="row">
    <div [style.height.px]="80" class="col-2">
      <img [src]="(avatars$ | async)?.google" alt="google" />
    </div>
    <div [style.height.px]="80" class="col-2">
      <img [src]="(avatars$ | async)?.microsoft" alt="microsoft" />
    </div>
    <div [style.height.px]="80" class="col-2">
      <img [src]="(avatars$ | async)?.user" alt="user" />
    </div>
  </div>
</app-content>
