<app-content [html]="html" [js]="js">
  <span description>
    Не реагирует на поток событий пока не закончится предыдущее. Если мы
    посмотрим пример, то во вкладке network, запрос не начинается пока не
    завершится предыдущий. В отличии от concatMap не выстраивается очередь из
    запросов.
  </span>

  <div example>
    <form [formGroup]="productForm" class="mb-3 row">
      <div class="mb-3 col-6">
        <label for="title" class="form-label">Title</label>
        <input
          formControlName="title"
          type="text"
          class="form-control"
          id="title"
          placeholder="title"
        />
      </div>
      <div class="mb-3 col-6">
        <label for="price" class="form-label">Price</label>
        <input
          formControlName="price"
          type="text"
          class="form-control"
          id="price"
          placeholder="price"
        />
      </div>
      <div class="mb-3 col-6">
        <label for="category" class="form-label">Category</label>
        <input
          formControlName="category"
          type="text"
          class="form-control"
          id="category"
          placeholder="category"
        />
      </div>
      <div class="mb-3 col-6">
        <label for="description" class="form-label">Description</label>
        <input
          formControlName="description"
          type="text"
          class="form-control"
          id="description"
          placeholder="description"
        />
      </div>
    </form>
  </div>
</app-content>
