@import "src/assets/styles/modules/_variables.scss";
@import "src/assets/styles/modules/_scroll.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: $font;
  font-weight: $regular;
}

h1 {
  font-size: $font-h1;
}

.full-screen {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.list-group-item {
  .text-dark.active-link {
    color: $blue !important;
  }
}

pre {
  font-size: $font-xs;
}
blockquote {
  font-size: $font-sm;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
