<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li
      class="breadcrumb-item active"
      routerLink="/subjects/asyncSubject"
      routerLinkActive="active"
    >
      AsyncSubject
    </li>
    <li
      class="breadcrumb-item active"
      routerLink="/subjects/behaviorSubject"
      routerLinkActive="active"
    >
      BehaviorSubject
    </li>
    <li
      class="breadcrumb-item active"
      routerLink="/subjects/replaySubject"
      routerLinkActive="active"
    >
      ReplaySubject
    </li>
    <li
      class="breadcrumb-item active"
      routerLink="/subjects/subject"
      routerLinkActive="active"
    >
      Subject
    </li>
  </ol>
</nav>
<router-outlet></router-outlet>
